@media screen and (min-width: 480px) {
    .container {
   max-width: 426px;
  }
    /*margin-left: auto;
    margin-right: auto;
  }*/


.hero-title{
font-size: 36px;
}
  /*.mobile-menu-open {
    display: none;
  }*/
  
}
