@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 766px;
  }
  .team > .container {
    min-width: 558px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .feature-list {
    display: flex;
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
  }

  .feature-item {
    width: calc((100% - 24px) / 2);
  }

  .company-item {
    width: calc((100% - 60px) / 3);
    height: 88px;
  }

  .header-list {
    display: none;
  }

  .contact-list {
    display: none;
  }
}

/*@media screen and (max-width: 768px) {
.feature-item::before {
    display: none;
  }
}*/
